#sidebar {
    position: absolute;
    top: 0;
    left: -370px;
    width: 320px;
    height: calc(100% - 60px);
    background-color: var(--bg-color);
    /* background-color: red; */
    box-shadow: 15px 0 35px var(--sidebar-shadow);
    transition: left 0.2s ease;
    padding-top: 60px;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

#sidebar.active {
    left: 0;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#sidebar ul button {
    width: 90%;
    padding-left: 35px;
    border: none;
    color: var(--text-color);
    background: none;
    text-align: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#sidebar button.active {
    background-color: var(--accent-color);
    color: var(--text-button-color);
}

#sidebarFooter {
    font-family: 'sidebarFooter', sans-serif;
    text-align: center;
    padding: 20px;
    color: var(--footer-color);
    font-size: 15px;
    margin-top: auto;
}
