@font-face {
    font-family: 'Main';
    src: url('../fonts/Rubik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sidebarFooter';
    src: url('../fonts/Charm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Main', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --accent-color: #00693e;
    --input-focus-color: #00ca39;
    --input-error-color: #d50000;
    --icon-color: #ffffff;
    --text-button-color: #ffffff;
}

[data-theme="dark"] {
    --bg-color: #0e1011;
    --bg-download-color: rgba(14, 16, 17, 0.8);
    --container-color: #202528;
    --footer-color: #bdcdd577;
    --subtitle-text-color: #c5d0d578;
    --text-color: #ffffff;
    --dividing-line: #8998a05c;
    --sidebar-shadow: #000000c7;
    --checkmark-color: #01bb6d;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --bg-download-color: rgba(255, 255, 255, 0.8);
    --download-color: rgba(255, 255, 255, 0.5);
    --container-color: #e4e7e8a1;
    /* --container-color: #e3e3e3c6; */
    --footer-color: #4e596093;
    --subtitle-text-color: #4e59609c;
    --text-color: #000000;
    --dividing-line: #bbbbbb;
    --sidebar-shadow: #1414146f;
    --checkmark-color: #009255;
}

html, body {
    overflow: hidden;
}

body, #root {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background: var(--bg-color);
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.page, .full-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
}

.page {
    height: calc(100% - 80px);
    margin-top: 60px;
    overflow-y: scroll; /* или auto */
    scrollbar-width: none;
}

.full-page {
    height: calc(100% - 35px);
    margin-top: 15px;
}

button {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 48%;
    font-size: 18px;
    font-weight: bold;
    /* font-family: 'Bold', sans-serif; */
    color: var(--text-button-color);
    background-color: var(--accent-color);
}
