#botListContainer {
    background-color: var(--container-color);
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

#botListItems {
    background-color: var(--container-color);
}

.no-bots-message {
    margin-top: 50vh;
    text-align: center;
    color: var(--subtitle-text-color);
    font-size: 20px;
    width: 60%;
}

/* #botList {
    animation: slideIn 0.1s forwards;
} */
