/* #botList {
    flex-direction: column;
} */

#botListContainer {
    background-color: var(--container-color);
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#botListItems {
    background-color: var(--container-color);
}
