#settingsSection {
    flex-direction: column;
    gap: 18px;
}

.settings-list {
    background-color: var(--container-color);
    border-radius: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-item, .settings-option {
    /* cursor: pointer; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 18px;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
}

.settings-item:not(:last-child):not(#subscriptionInfo)::after,
.settings-option:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: var(--dividing-line);
}

.icon, .iconNoBack {
    background-color: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 12px;
    flex-shrink: 0;
    color: var(--icon-color);
}

.iconNoBack {
    background-color: transparent;
    margin-bottom: 3px;
    color: var(--text-color);
}

.content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    text-align: left;
    align-items: end;
}

.content .value {
    display: flex;
    align-items: end;
    gap: 5px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}


.value, .text small {
    font-size: 14px;
    font-weight: normal;
    color: var(--subtitle-text-color);
}


.settings-option input {
    display: none;
}

.settings-option .checkmark {
    width: 23px;
    height: 23px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    flex-shrink: 0;
    color: var(--checkmark-color);
}

.text {
    display: flex;
    flex-direction: column;
}

.text span {
    font-size: 16px;
    font-weight: bold;
}



.settings-option input:checked ~ .checkmark {
    display: block;
}

h2 {
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 14px;
    color: var(--subtitle-text-color);
    margin-left: 18px;
    margin-bottom: 9px;
}

#settingsSubscriptionBtn {
    background-color: var(--accent-color);
    margin: 0 18px 18px;
    width: auto;
    /* border: 2px solid #ffd700 */
}
