#settings-icon {
    background-image: url('/img/icons/star.svg');
    width: 22px;
    height: 22px;
}

#language-icon {
    background-image: url('/img/icons/language.svg');
    width: 24px;
    height: 24px;
}

#star-icon {
    background-image: url('./icons/star.svg');
    width: 24px;
    height: 24px;
}

#theme-icon {
    background-image: url('./icons/theme.svg');
    width: 24px;
    height: 24px;
}

#account-icon {
    background-image: url('./icons/account.svg');
    width: 24px;
    height: 24px;
}

#support-icon {
    background-image: url('./icons/support.svg');
    width: 24px;
    height: 24px;
}

#id-icon {
    background-image: url('/img/icons/id.svg');
    width: 24px;
    height: 24px;
}
